/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/public/js/app.js.LICENSE.txt
/storage/*.key
/vendor
.env
.htaccess
.env.backup
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/capistrano/log/capistrano.log
/public/js/app.js
MAMP_php_error_log_MAMP

/.idea
/.vscode
